body {
  font-family: Arial, Helvetica, sans-serif;
  background: url('../images/background.jpg');
  background-size: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Dokdo', cursive;
  color: #2A49F9;
  font-size: 75px;
  margin: 40px 0;
}

.container {
  width: 70%;
  margin: 150px auto 100px;
  background-color: #fef486;
  padding: 10px 0 50px;
  border: 1px solid rgb(28, 51, 180);
}

header, .button {
  text-align: center;
}

.button {
  background-color: #f8d3d7;
  margin: 0 auto;
  width: 25%;
  border: 2px solid #84679b;
  padding: 20px 0;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background-color: #fce5e7;
}

.trivia-content, .done-page {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.trivia-content p {
  font-size: 25px;
  margin: 10px;
  line-height: 1.5;
}

#timer {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.option {
  margin: 10px;
}

.questionBox {
  background-color: #ecdc23;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}

.done-page {
  line-height: 1.5;
  font-size: 20px;
}

.done-page h2 {
  font-size: 30px;
}

.fixed {
  position: fixed;
  top: 0;
}

.hidden {
  display: none;
}


